* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
  }
  
  header a {
    text-decoration: none;
    color: maroon
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
    list-style: none
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
  
  header nav ul li a:hover {
    background: maroon;
    color: white;
    border-radius: 15px;
    text-shadow: none;
}

 /* ABOUT ME*/

.aboutme{
    background-image: linear-gradient( maroon, white);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.aboutme img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 25px 35px;
}

.aboutme h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding-bottom: 10%;
}

   /* PROJECTS */

   .projects {
       text-align: center;
       text-decoration-line: underline;
       padding-top: 10px;
       padding-bottom: 10px;
       font-size: 38px;
       background-color: lightgrey;
       border-bottom: maroon;
       border-style: groove;
   }

  .flex-container {
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    margin: 0, auto;
  }
.runbuddy {
    background-image: url(./Images/hero-bg.jpg);
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    color: white;
}

.robots {
    background-image: url(./Images/robots.jfif);
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    color: white;
}
.Horiseon{
    background-image: url(./Images/digital-marketing-meeting.jpg);
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    color: white;
}

   /* RESUME */
  .experience h2 {
      text-align: center;
      color: white;
      padding: 25px 35px;
      text-decoration-line: underline;
      font-size: 38px;
      background-color: maroon;
  }
  .job { 
      position: relative; 
      margin-bottom: maroon; 
      padding-bottom: 1em; 
      border-bottom: 1px maroon;
      text-align: center;
      background-color:lightgray;
      border-color: maroon;
      border-style:double;
    
      
     }
    .job h3 {
        font-size: 28px;
        color: maroon;    
    }


 /* CONTACT ME */
  .contact {
    text-align: center;
    text-decoration-line: underline;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: maroon;
    color: white;
  }
.contact h2 {
    color: white;
    font-size: 38px; 
    padding-bottom: 10px; 
}
  .info, a {
    text-align: center;
    color: white
}

